@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@700&family=Oxygen:wght@400;700&family=Roboto:wght@500;900&family=Ubuntu:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
background-color:#FBFCFC;
/* overflow: hidden; */
}
p{  
color: #31353B;
font-size: 1rem;
margin: 1rem 0;
}
h1{
font-size: 3rem;
font-family: 'manrope';
font-weight: 800;
color:#000000;
}
h2{
text-align: center;
margin: 1rem 0;
font-size: 2rem;
color:#000000;
font-family: 'manrope';
}
h3{
font-size: 2rem;
font-family: 'manrope';
margin: 2rem 0;
}
h4{
color:#31353B;
font-size: 1.2rem;
}
h5{
  font-size: 1.2rem;
  color: #FD5B1B;
}
h6{
  font-size: .9rem;
  font-family: "inter";
}
.introduction{
display: flex;
flex-wrap: wrap;
padding: 5rem 6rem;
}

.intro{
  flex-basis: 450px; 
}
.intro h5{
  color: #FF9900;
}
.input-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #DADADA;
  background-color: white;
}
form{
  padding:  .4rem 0;
}
input{
padding: .5rem 3rem;
border: none;
}
input:focus{
outline: none;
}
.amazing-partners h4{
  text-align: center;
}
.amazing-partners > div > img{
  padding: 2rem 0;
  margin: 3rem 4rem;
  width: 5%;
}
.how-it-works {
margin: 2rem 6rem;
}
.icon{
  display: flex;
  text-align: center;
  gap: 10rem;
  margin: 2rem 0;
}
.best-deal{
  gap:5rem;
  padding: 3rem 5rem;
  display: flex;  
} 
.Deals{
  flex-basis: 600px;
flex-grow: 1;
}
.properties{
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
.properties h6{
  margin: 2rem 0;
  font-family:'Manrope' ;
}
.property h6{
  border-bottom: 2px solid  #F85A47;
  width: 130px;
}
.residential{
  display: flex;
}
.btn{
background-color: #F85A47;
border: none;
border-radius: .5rem;
color: white;
padding: 1rem 1.7rem;
}
.feature{
  display: flex;
  gap: 20rem;
  margin: 2rem 0;
  background-color: #F1FFFF;
}
.feature-image img{
  margin: 1rem 6rem;
  /* width: 70%; */
}
.feature-text{
  width: 30%;
padding: 3rem 0;
}
.budget{
display: flex;
margin: 1.5rem 0;
column-gap: 7rem;
}
.btn-book{
background-color: #F85A47;
border: none;
padding: .8rem 5rem;
color: white;
border-radius: 6%;
}
.across-the-globe{
  padding: 2rem 6rem;
}
.card{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 400px;
  gap: 4rem;
  padding: 2rem .5rem;
}
.card-content{
background-color:#FBFCFC;
border:1px solid #EBEBEB;
width: 25%;
height: 22vw;
padding:2rem 1rem;
border-radius: .5rem;
}
.images{
  display: flex;
  align-items: center;
  margin: 0 4rem;
}
.images img{
  width: 5%;
  margin: 0 3rem;
}
.images p{
  flex-basis: 280px;
}
.images a{
  color:#2CBDE7;
  text-decoration: underline;
}
.newsletter{
  text-align: center;
  margin: 3rem auto;
}
.newsletter > form{
  border: none;
  background-color: white;
}
.newsletter-input{
  border-radius: 5%;
  display: flex;
  align-items: center; 
  width: 30%;
  margin: 1rem auto;
  padding: .6rem .7rem;
}
.newsletter span{
  display: block;
  background-color:  #DEDFE1;
  width: 700px;
  margin: 2rem auto;
}
@media screen and (max-width:900px){
  body{
    overflow-x: hidden;
  }
nav{
  padding: 2rem 0;
}
  .nav-links {
  display: none;
}
.introduction{
  flex-direction: column-reverse;
  text-align: center;
}
.amazing-partners > div{
  display: flex;
  margin: 0;
  padding: 0;
  width: 0;
}
.icon{
  text-align: center;
  flex-direction: column;
  gap: 0;
}
.best-deal, .properties{
  flex-direction: column;
}
.feature{
  flex-direction: column;
  text-align: center;
  padding: 0 1rem;
  gap: 2rem;
}
.feature-image{
  margin: 0 auto;
}
.feature-text{
  width: fit-content;
}
.budget{
  margin: 2rem 0;
  column-gap: 3rem;
}
.btn-book{
  padding: .5rem 2rem;
}
.card{
  flex-direction: column;
}
.card-content{
  width:fit-content;
  height:fit-content;
}
.images{
  flex-wrap: wrap; 
  /* margin: 2rem 0; */
}
.images img{
  width: 10%;
}
.newsletter{
  text-align: center;
  width: 300px;
}
.newsletter-input{
  text-align: center;
  padding: 1rem 4rem;
}
}
