body {
  background-color: #fbfcfc;
}

.introduction {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem clamp(1rem, 10vw, 10rem) 5rem 6rem;
}
.introduction::after {
  content: "";
  display: block;
  height: 620px;
  width: clamp(200px, 80vw, 450px);
  position: absolute;
  background-color: #bdccff;
  right: 0;
  top: 0;
  z-index: -10;
}
.intro {
  flex-basis: 300px;
  flex-grow: 1;
  padding: 3rem 0 6rem 0;
  position: relative;
}
.introduction figure img {
  flex-basis: 300px;
  flex-grow: 1;
}
.introduction img {
  width: 100%;
  transform: translate(-10%, 0);
}
.intro h5 {
  color: #ff9900;
}
.input-details {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin: 3rem 0;
  width: 110%;
  position: absolute;
  z-index: 10;
  max-width: 650px;
}
  .intro form {
  padding: 0.4rem 0;
  flex-grow: 1;
  border: 1px solid #dadada;
}
.intro input {
  padding: 0.9rem 1rem;
  border: none;
  width: 100%;
}
input:focus {
  outline: none;
}
.btn {
  background-color: #f85a47;
  border: none;
  font-size: 1rem;
  color: white;
  padding: 1rem 1.7rem;
  box-shadow: 0px 44.8511px 35.8809px rgba(248, 90, 71, 0.07),
   0px 29.0701px 21.0136px rgba(248, 90, 71, 0.0531481), 0px 17.276px 11.4287px rgba(248, 90, 71, 0.0425185), 
   0px 8.97021px 5.83064px rgba(248, 90, 71, 0.035), 0px 3.65453px 2.92362px rgba(248, 90, 71, 0.0274815),
    0px 0.830575px 1.41198px rgba(248, 90, 71, 0.0168519);
}
.amazing-partners h4 {
  text-align: center;
}
.amazing-partners>div>img {
  padding: 2rem 0;
  margin: 3rem 5rem;
  width: 4%;
}
 

.images {
  display: flex;
  align-items: center;
  margin: 0 6rem;
}
.images img {
  width: 5%;
  margin: 0 3rem;
}
.images p {
  flex-basis: 280px;
}
.images a {
  color: #2cbde7;
  text-decoration: underline;
}
.newsletter {
  text-align: center;
  margin: 3rem auto;
}
.newsletter input{
  padding: 1.4rem 0;
  border: none;
}
.newsletter-input {
  background-color: white;
  border-radius: 5%;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 35%;
  margin: 1rem auto;
  padding: 0.6rem 0.7rem;
}
.newsletter span {
  display: block;
  background-color: #dedfe1;
  width: 700px;
  height: 2px;
  margin: 2rem auto;
}
@media screen and (max-width: 900px) {
  .introduction {
    flex-direction: column-reverse; 
    padding: 0 3rem 3rem 1rem;
    text-align: center;
  }
.introduction::after{
  display: none;
}
.introduction  img{
  transform: translate(0);
}
.input-details{
width: 100%;
}
.amazing-partners{
  margin: 2rem 0 0 0;
}
  .amazing-partners>div {
    text-align: center;
  }
  .amazing-partners>div>img{
    margin: 0 2rem;
    width: 10%;
  }
  .images {
    display: block;
    margin: 0 auto;
    padding: 0 2rem;
  }
  .images img {
    width: 15%;
    margin: 1rem 1.3rem;
  }
  
}