header{
    position: relative;
    z-index: 10;
}
nav{
    display: flex;
    justify-content: space-between;
    padding:2rem clamp(6rem, 8vw, 6rem);
    align-items: center;
}
.nav-links{
    display: flex;
}
a{
    display: block;
color:black;
margin:  2rem;
text-decoration: none;
font-size: 1.1rem;
font-family: 'DM sans';
}
.nav-content{
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hamburger{
    display:none;
}
@media screen and (max-width: 900px){
    nav{
        padding:  2rem;
    }
    .nav-links{
    position: absolute;
    flex-direction: column;
    background-color: white;
    width: 90%;
    height: fit-content;
     top: 100%;
     left:0;
     transform: translate(-100%, 0);
     text-align: center;
     max-width: 200px;
     border-radius: 3%;
     transition: all ease .3s;
        }
    
.active{
    transform: translate(0, 0)
}
.hamburger{
    display: block;
}

}
    



